.QuienesSomos {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

.elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin-top: 30px;
    background-color: beige;

}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: right;;
    align-items:center;
    margin-top: 30px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    margin-top: 30px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}