body {
    font-family: Arial, sans-serif;
    background-color: #fde7d6;
}

.contenedor {
    width: 600px;
    margin: 30px auto;
    background-color: #fde7d6;
    padding: 20px;
    border-radius: 10px;
}

h2, h3 {
    text-align: center;
    color: #5a2d1d;
}

.formulario {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
}

input, textarea {
    padding: 5px;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
}

textarea {
    height: 60px;
}

.imagen {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background: white;
}

.botones-img {
    margin-top: 10px;
}

.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 20px;
    background-color: #d57a3a;
    color: white;
    cursor: pointer;
}

.cancelar {
    background-color: white;
    color: #d57a3a;
    border: 1px solid #d57a3a;
}

.guardar {
    padding: 10px 20px;
    font-size: 16px;
}

.acciones {
    text-align: center;
    margin-top: 20px;
}
