/* -------------------- */
/* 1. RESET Y VARIABLES */
/* -------------------- */

:root {
    --color-titulo-marca: #9B612E; 
    --color-principal: #333;
    --color-fondo-caja: #f5efe8; 
    --color-btn-primario: #e38d4a; 
    --color-btn-secundario: #8B572A; 
    --color-fondo: #ffffff;
    --font-titulo: 'Poppins', sans-serif;
    --font-nombre: 'Poppins', sans-serif;
    --font-texto: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* catalogo_styles.css */

body { 
    font-family: sans-serif; 
    margin: 20px; 
    background-color: #f4f4f4; 
}

#productos-contenedor { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.tarjeta-producto {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto-imagen { /* Estilo crucial para que la imagen se ajuste */
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.producto-nombre { 
    color: #A15C25; 
    margin-top: 0; 
    font-size: 1.3em; 
}

.producto-marca { 
    font-size: 0.9em; 
    color: #555; 
}

.producto-detalle { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px; 
    padding-top: 10px; 
    border-top: 1px dashed #eee; 
}

.precio { 
    font-weight: bold; 
    color: green; 
    font-size: 1.2em; 
}

.puntuacion { 
    font-size: 0.9em; 
}

.producto-descripcion { 
    font-size: 0.95em; 
    line-height: 1.4; 
    height: 70px; 
    overflow: hidden; 
}

button { 
    background-color: #D37C39; 
    color: white; 
    border: none; 
    padding: 8px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
}