@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 440px;
    background: rgba(250, 223, 203, 0.99);
    border: 2px solid rgba(255, 255, 255, 0.904);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    pointer-events: none;
}

.wrapper.active-popup {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.wrapper.active {
    height: 520px;
}

.wrapper .icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    background: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2rem;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}

.remember-forget {
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a {
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.login-register {
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 10px;
    text-align: center;
}

.register-link {
    color: #162938;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}