@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;  
    align-items: center;
    z-index: 100;
}

.logo {
    width: 10rem;
    color: #682D1E;
    margin: 0 2rem;
}

.navigation-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navigation-top a {
    text-decoration: none;
}

#search {
    width: 35rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 1rem;
}

#search::placeholder {
    color: #682D1E;
}

.iconify {
    color: #682D1E;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

.navigation-down {
    position: fixed;
    left: 0;
    margin-top: 9rem;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #682D1E;
}

.navigation-down a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0 2rem;
    font-size: 1rem;
}