@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 10rem;
    margin: 0 2rem;
}

.navigation-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navigation-top a {
    text-decoration: none;
}

#search {
    width: 35rem;
    padding: 0.5rem;
    border-radius: 35px;
    border: 1px solid #682D1E;
    outline: none;
    font-size: 1rem;
    color: #682D1E;
    background-color: #fff;
}

#search::placeholder {
    color: #682D1E;
}

.iconify {
    color: #682D1E;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.3rem;
}

.navigation-down {
    position: absolute;
    left: 0;
    margin-top: 7em;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D37C39;
}

.navigation-down a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0 2rem;
    font-size: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    background-color: #A15C25;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

footer ul li a:hover {
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.follow h3 {
    margin-bottom: 0.5rem;
}

.follow ul {
    display: flex;
    gap: 1rem;
}

.iconifyF {
    color: #fff;
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.payment h3 {
    margin-bottom: 0.5rem;
}

.payment ul {
    display: flex;
    gap: 1rem;
}

.iconifyP {
    color: #fff;
}

.endfooter {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.9rem;
    background-color: #A15C25;
}