.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: F0AA51;
}

.miwuff {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}