/* .banner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: F0AA51;
}

.miwuff {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */